<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  <title>Mazda Rama 7</title>
</head>
<body>
Hi, <%= @user.name %>
<br>
Thank you for using Mazda Rama7 Application!!!
<br>
Best,<br/>
Mazda Support Team

</body>
</html>